@import "/styles/colors";
@import "/styles/sizes";

.singleCardStandard{
  border-bottom: 8px solid $color-tertiary;
  position: relative;
  position: relative;
  padding: 50px 5%;
  color: $font-color-secondary;
  text-align: center;
  .singleCardStandardContainer{
    font-size: 1.125rem;
    .singleCardStandardTitle{
      font-size: 1.625rem;
      padding: 0 5%;
      margin-bottom: 0.5rem;
    }
    .faqList{
      display: block;
      margin: 1.25em auto;
      max-width: 815px;
    }
  }
}
