@import "styles/colors";
@import "/styles/sizes";


.singleCard {
  border-bottom: 8px solid $color-tertiary;
  position: relative;
  .cardBackground {
    position: absolute;
    left: 0;
    top: calc(-56px - 2.750rem);
    overflow: hidden;
    z-index: 0;
    width: 100%;
    height: 693.5px;
    .imageWrapper {
      .bgImage {
        position: absolute;
        overflow: hidden;
        z-index: -2;
      }
      .imageGradient {
        height: 693.5px;
        width: 100%;
        position: absolute;
        //z-index: -1 ;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8));
      }
    }

  }

  .cardText {
    position: relative;
    background: transparent;
    height: 600px;
    z-index: 1;
    padding: 50px 5%;
    color: $font-color-secondary;
    .cardTextContainer {
      padding: 0rem 2.5rem;
      text-align: center;
      @media only screen and (min-width: $screen-m) {
        padding: 0rem 4rem;
      }
      @media only screen and (min-width: $screen-xl) {
        padding: 0rem 6rem;
      }
      .cardTitleTextContainer {
        margin-top: 16px;
        .cardTitleText {
          font-size: 2.5rem;
          font-weight: 700;
        }
      }
      .cardItem{
        margin-top: 16px;
        .cardItemText{
          font-size: 1.125rem;
          font-weight: 500;
        }
      }
      .emailItem{
        padding: 1rem 0 0 0;
        .emailForm{
          display: flex;
          flex-direction: column;
          .emailHeader{
            color: $color-secondary;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.6875rem;
          }
          .emailContainer{
            margin-top: 16px;
            text-align: left;
            max-width: 36.625rem;
            position: relative;
            display: flex;
            flex-direction: column;
            .emailBar{
              .emailLabel{
              }
              .emailInputContainer{

                .emailInputField{

                }
                .emailBackgroundStyle{

                }
              }
            }
          }
        }
      }
    }
  }
}