@import "styles/sizes";

.headerSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 0;
  margin: 0 5%;
}

.logoContainer{
  width: 88px;
  height: 24px;
  margin: auto 0;
  @media only screen and (min-width: $screen-m){
    width: 108px;
    height: 32px;
  }
  @media only screen and (min-width: $screen-xl){
    width: 134px;
    height: 36px;
  }
  .logo{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
  }
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

