.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.buttonRed {
  border: 0px solid black;
  background: #E50914;
  padding: 7px 17px;
  margin-left: 12px;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: .9rem;
  font-weight: 400;
}