@import "./styles/colors";
@import "./styles/sizes";

.footerContainer {
  padding: 50px 5%;
  .footerWrapper{
    .footerTop{
      margin: 0 0 30px;
      font-size: 1em;
      color: $font-color-main;
      letter-spacing: 0;
      a{
        text-decoration: none;
        color: inherit;
      }
    }
    .footerLinksList{
      display: grid;
      grid-template-columns: 1fr 1fr;
      a{
        text-decoration: none;
        color: $font-color-main;
      }
      @media only screen and (min-width: $screen-s){
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media only screen and (min-width: $screen-l){
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .footerLinksListItem{
        list-style: none;
        display: inline-block;
        margin: 0 0 16px;
        padding: 0 12px 0 0;
        .footerLink{
          font-size: 13px;
          text-decoration: none;
        }
      }
    }
    .footerLangPicker{
      margin: 20px 0 0;
      div{
        &:before{
          width: .5rem;
        }
        select{
          color: $font-color-main;
          margin: 0;
        }
      }
    }
    .footerCountry{
      font-size: 13px;
      color: $font-color-main;
      margin: 24px 0 13px;
    }
  }
}