@import "/styles/colors";

.main{
    //background: white;
    margin: 0 auto;
}

.singleCard{
    border-bottom: 8px solid $color-tertiary;
    .cardBackground{
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: 0;
        width: 100%;
        height: 697px;
        .imageWrapper{

            .bgImage{
                position: absolute;
                //left: 0;
                //top: 0;
                overflow: hidden;
                z-index: 0;
                //width: 100%;
                //height: 697px;
            }
            .imageGradient{
                height: 697px;
                width: 100%;
                z-index: 1 ;
                position: absolute;
                background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 40%,transparent 75%,rgba(0,0,0,.8));
            }
        }

    }
    .cardText{
        background: transparent;
        height: 600px;
    }
}