@import "/styles/colors";

.main{
    //margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.singleCard,
.singleCardStandard{
    border-bottom: 8px solid $color-tertiary;
    position: relative;
    .cardBackground{
        position: absolute;
        left: 0;
        top: calc( -56px - 2.750rem);
        overflow: hidden;
        z-index: 0;
        width: 100%;
        height: 693.5px;
        .imageWrapper{

            .bgImage{
                position: absolute;
                overflow: hidden;
                z-index: 0;
            }
            .imageGradient{
                height: 693.5px;
                width: 100%;
                z-index: 1 ;
                position: absolute;
                background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 40%,transparent 75%,rgba(0,0,0,.8));
            }
        }

    }
    .cardText{
        background: transparent;
        height: 600px;
    }
}

.singleCardStandard{
    position: relative;
    padding: 50px 5%;
    color: $font-color-secondary;
    .singleCardStandardContainer{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-items: center;
        align-items: center;
        .singleCardStandardText{
            text-align: center;
            .singleCardStandardTitle{
                font-size: 1.625rem;
                line-height: 1.1;
                margin-bottom: 0.5rem;
            }
            .singleCardStandardSubtitle{
                font-size: 1.125rem;
                font-weight: 400;
                margin: 0.75rem 0 0.25rem;
            }
        }
    }
    .singleCardStandardImgContainer{
        display: flex;
        position: relative;
        margin-top: 10%;
        max-width: 600px;
        width: 100%;
        height: 100%;
        flex: 0 1 auto;
        justify-content: center;
        align-items: center;
        .singleCardStandardImg{
            margin: -10% 0 0;
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            .standardImage{
                position: relative;
                height: auto;
                max-width: 100%;
                z-index: 2;
            }
        }
    }
    .singleCardStandardVideoContainer{
        position: absolute;
        vertical-align: baseline;
        height: 100%;
        left: 50%;
        max-height: 54%;
        max-width: 73%;
        top: 46%;
        transform: translate(-50%,-50%);
        width: 100%;
        .singleCardVideo{
            position: relative;
            height: 100%;
            width: 100%;
            z-index: -2;
        }

    }
}
